// Site Vars

:root {
  //color
  --clr-primary-400: hsl(0, 100%, 68%);

  --clr-neutral-300: hsl(207, 33%, 95%);
  --clr-neutral-400: hsl(231, 7%, 65%);
  --clr-neutral-500: hsl(230, 11%, 40%);
  --clr-neutral-900: hsl(230, 29%, 20%);
}
