// Site Vars
//Desktop

:root {
  //-----color
  --clr-primary-400: hsl(0, 100%, 68%);

  --clr-neutral-300: hsl(207, 33%, 95%);
  --clr-neutral-400: hsl(231, 7%, 65%);
  --clr-neutral-500: hsl(230, 11%, 40%);
  --clr-neutral-900: hsl(230, 29%, 20%);

  //-----font family
  --ff-body: "Barlow", sans-serif;
  --ff-heading: "Barlow Condensed", sans-serif;
  --ff-nav: "Barlow Condensed", sans-serif;

  //-----font weight
  --fw-regular: 400;
  --fw-bold: 700;

  //-----font size
  --fs-400: 0.9rem;
  --fs-500: 1rem;
  --fs-600: 1.125rem;
  --fs-700: 4.5rem;

  --fs-body: var(--fs-500);
  --fs-heading: var(--fs-700);
  --fs-nav: var(--fs-500);
  --fs-button: var(--fs-500);

  //-----letter spacing
  --ls-500: 0.25rem;
  --ls-600: 0.35rem;

  //-----line-height
  --lh-700: 4.5rem;

  //-----margin properties
  --ml-400: 1rem;

  --mr-400: 1rem;

  --mt-400: 1rem;
  --mt-600: 3rem;

  --mb-400: 1rem;
  --mb-500: 2rem;
  --mb-600: 4rem;

  //media query

  --media-query-mobile: 1024px;
}
